h1{

    color:black;
}


.flex_container{
    display: flex;
}

.justify_content{
    justify-content: center;
}

.align_center{
    align-items: center;
}


.ProfilePageContainer{

    width: 100%;
    gap: 100px;
    flex-direction: column;
}


.ProfilePageContainer .ProfilePageItems{

    width: 100%;
    gap: 30px;
    color: black;
    flex-wrap: wrap;


}

.ProfilePageContainer .autorSection{
    width: 99.9%;
    gap: 50px;
    margin-top: 30px;
    background-color:black;
}

.ProfilePageContainer .ProfilePageItems .foto{
    margin: auto;
    width: 50%;
}


.ProfilePageContainer .ProfilePageItems .info{
    width: 50%;
    align-self: flex-start;
    border-radius: 100px;
    flex-direction: column;
    color: white;
    gap: 30px;
    margin-top: 50px;
    list-style: none;
}

.ProfilePageContainer .ProfilePageItems .info .titlePrs{
    color: white;
}

.ProfilePageContainer .ProfilePageItems .info .infPrs{
    font-weight: 300;
    font-size: 30px;
    color: white;
}


.ProfilePageContainer .ProfilePageItems .info h1{
    color: white;
    font-weight: 300;
    font-size: 60px;
}

.ProfilePageContainer .ProfilePageItems .info .social{
    width: 100%;
    height: 30px;
    gap: 120px;
    margin-top: 60px;
    padding: 10px;
    list-style: none;
}

.ProfilePageContainer .ProfilePageItems .info .social li:nth-child(2){
    margin-top: 60px;
}

.ProfilePageContainer .ProfilePageItems .info .social li:hover{
    color: aqua ;
}


.ProfilePageContainer .ProfilePageItems .cardPost {

    width: 20%;
    gap: 20px;
    flex-direction: column;
    -moz-box-shadow: 0 0 2px #333333;
    -webkit-box-shadow:0 0 2px #333333;
    box-shadow: 0 0 10px #333333;
    margin-bottom: 30px;
}

.ProfilePageContainer .ProfilePageItems .cardPost .profileImg{

    width: 100%;
    color: white;
    height: 200px;
    background-color: black;

}


.ProfilePageContainer .ProfilePageItems .cardPost .profileText{

    width: 100%;
}

.ProfilePageContainer .ProfilePageItems .cardPost .profileText .textProfile{

    font-size: 15px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: purple;
}
 
    
.ProfilePageContainer .ProfilePageItems .cardPost .profileUser{

    width: 100%;
    align-items: left;
    margin-left: 10px;
    gap: 200px;
    padding: 10px;
}

.ProfilePageContainer .ProfilePageItems .cardPost .profileUser .boxButton{
    gap: 250px;
    margin-left: 20px;
}


.ProfilePageContainer .ProfilePageItems .nav{

    list-style: none;
    gap:10px;
}