body{
    font-family: 'ubuntu', sans-serif;
}

.boxRegistrazione{
    height: 900px;
 
}

.boxRegistrazione .sectionTitle{

    background-color: aliceblue;
}     

.boxRegistrazione .wrapContainer{
    height: 650px;
    background-color:#007fff;
    width: 30%;
    border-radius: 20px;
    -moz-box-shadow: 0 0 25px #333333;
    -webkit-box-shadow:0 0 25px #333333;
    box-shadow: 0 0 20px #333333;
}

.boxRegistrazione .wrapContainer .barBox{
    height: 20px;
    background: linear-gradient(
        to right,
        red 20%,
        orange 20% 40%,
        yellow 40% 60%,
        green 60% 80%,
        blue 80%
        );
    width: 100%;

}

.boxRegistrazione .wrapContainer .titleBox{

    background-color: #d2d2d2;
    width: 100%;
}

.boxRegistrazione .wrapContainer h1{
    margin-top: 50px;
    font-size: 50px;
    text-shadow: 2px 2px black;
    margin-bottom: 50px;
}

.boxRegistrazione .wrapContainer .lab{
    margin-top: 30px;
}

.boxRegistrazione .wrapContainer .field{

    height: 80px;
    font-family: 'ubuntu',sans-serif;
    margin-top: 50px;
    text-indent: 10px;
    outline: none;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    width: 80%;
}



.boxRegistrazione .wrapContainer button{
    margin-top: 50px;
    outline: none;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: #c3c5c4;
    width: 80%;
    font-family: 'ubuntu',sans-serif;
    font-size: 30px;
    color:white;
    text-shadow: 1px 1px black;

}

.boxRegistrazione .wrapContainer button svg{
    margin-left: 50px;
    
    text-shadow: 2px 2px black;
}









